@import '/src/styles.scss';

.dropdown-section {
    position: relative;
    width: 50%;
    background: $slate900;
    color: $slate300;
    border-radius: 0.4rem;
  
    .dropdown-title {
      display: flex;
      justify-content: space-between;
      padding: 0.24rem 0.4rem;
      cursor: pointer;
        border-radius: 0.4rem;
  
      span {
        flex: 1;
      }
  
      &:hover {
        background: $slate800;
      }
    }
  
    .dropdown-select {
      position: absolute;
      width: 100%;
      bottom: -5.6rem;
      z-index: 10;
      background: $slate800;
      border: 1px solid $slate950;
      border-radius: 0.4rem;
      color: $slate300;
      font-size: 1rem;
      font-weight: 600;
   
      .dropdown-option {
        width: 100%;
        text-align: center;
        margin: 0.4rem 0;
  
        &:hover {
          color: $slate950;
          background: $slate600;
        }
      }
    }
  }
  